
.vs/OpenGlIntroduction/v16/.suo
.vs/OpenGlIntroduction/v16/Browse.VC.db
.vs/OpenGlIntroduction/v16/Browse.VC.db-shm
.vs/OpenGlIntroduction/v16/Browse.VC.db-wal
.vs/OpenGlIntroduction/v16/Browse.VC.opendb
.vs/OpenGlIntroduction/v16/ipch/AutoPCH/14cb72a982850b78/KEY.ipch
.vs/OpenGlIntroduction/v16/ipch/AutoPCH/3c110fdd9ded5895/TRIANGLE.ipch
.vs/OpenGlIntroduction/v16/ipch/AutoPCH/4a83789578f5f254/PENTAGON.ipch
.vs/OpenGlIntroduction/v16/ipch/AutoPCH/53d27943dd7b8fd9/MAIN.ipch
.vs/OpenGlIntroduction/v16/ipch/AutoPCH/932e2e52e5cf338b/MAIN.ipch
.vs/OpenGlIntroduction/v16/ipch/AutoPCH/992f89ebddfbd001/KEY.ipch
.vs/OpenGlIntroduction/v16/ipch/AutoPCH/a6857e628acc67d4/TRIANGLE.ipch
.vs/OpenGlIntroduction/v16/ipch/AutoPCH/b0c9819dc57ff2a6/HELPERS.ipch
.vs/OpenGlIntroduction/v16/ipch/AutoPCH/be7fb31eabe19b34/ELLIPSE.ipch
.vs/OpenGlIntroduction/v16/ipch/AutoPCH/c3903e42f30ead28/FIGURE.ipch
.vs/OpenGlIntroduction/v16/ipch/AutoPCH/df0b68f0f75a7b85/CUBE.ipch
cube.h
x64/Debug/ellipse.obj
x64/Debug/main.obj
x64/Debug/OpenGlIn.fa1b7fa5.tlog/CL.command.1.tlog
x64/Debug/OpenGlIn.fa1b7fa5.tlog/CL.read.1.tlog
x64/Debug/OpenGlIn.fa1b7fa5.tlog/CL.write.1.tlog
x64/Debug/OpenGlIn.fa1b7fa5.tlog/link.command.1.tlog
x64/Debug/OpenGlIn.fa1b7fa5.tlog/link.read.1.tlog
x64/Debug/OpenGlIn.fa1b7fa5.tlog/link.write.1.tlog
x64/Debug/OpenGlIn.fa1b7fa5.tlog/OpenGlIntroduction.write.1u.tlog
x64/Debug/OpenGlIntroduction.Build.CppClean.log
x64/Debug/OpenGlIntroduction.exe
x64/Debug/OpenGlIntroduction.ilk
x64/Debug/OpenGlIntroduction.log
x64/Debug/OpenGlIntroduction.pdb
x64/Debug/pentagon.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
